<a href="https://colab.research.google.com/github/kalpanareddigelli/atm/blob/master/Pyspark_L1_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Pyspark : It is a framework that runs on the top of Apache Spark and it is used to process Big Data.
#Batch Processing : Data would be coming Hourly, Daily, Weekly, Monthly, Yearly
#Advantages : You don't missout on any data, why because there is a time difference between one and other set of data.
#Streaming : In this data is coming probably every second or every minute. 
#If a second's data is lost : 30 entries , sets of data.

#Installation of Pyspark -
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=730ba7ca7378b798dfeb2e381aa540aba5084b3d40f0b827c172396f9684e103
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [ ]:
#If you want to build a code or process any dataset in pyspark, you would require a session for that
#which is called as SparkSession

In [3]:
#Step 1 : Create a SparkSession
spark = SparkSession.builder.appName("PysparkL1").getOrCreate()

In [11]:
#Dataset => DataFrames 
df = spark.createDataFrame(
    [
        ("Spark", 25000, 50),
        ("Scala", 50000, 100),
        ("PHP", 75000, 120)
    ],
    ["Language Name","Price","Days"]
)


df1 = spark.createDataFrame(
    [
        ("kalpana", "USA", 3.2, "ASU", 100000),
        ("deepak", "USA", 3.8, "ASU", 200000),
        ("isha", "india", 20.0, "school", 1000 ),
        ("diya", "india", 3.0, "school", 10000),
        ("jack", "china", 9.1, "clg", 2900),
        ("jame", "nepal", 9.4, "clg", 20000)
   ],
   ["name", "country", "GPA", "edu", "salary"]

)

In [14]:
df1.show(truncate= False)

+-------+-------+----+------+------+
|name   |country|GPA |edu   |salary|
+-------+-------+----+------+------+
|kalpana|USA    |3.2 |ASU   |100000|
|deepak |USA    |3.8 |ASU   |200000|
|isha   |india  |20.0|school|1000  |
|diya   |india  |3.0 |school|10000 |
|jack   |china  |9.1 |clg   |2900  |
|jame   |nepal  |9.4 |clg   |20000 |
+-------+-------+----+------+------+

In [ ]:
#Show : This is a function for dataframe which is used to display the contents of the dataframe.

#Truncate = False : You are forcing pyspark to display the whole dataframe without any cuts or breaks. # df.show(truncate=False)
#Int argument : It allows you to display only that number of rows in your output. # df.show(1)
#Show has a return type of None
df.show(truncate=False)

+-------------+-----+----+
|Language Name|Price|Days|
+-------------+-----+----+
|Spark        |25000|50  |
|Scala        |50000|100 |
|PHP          |75000|120 |
+-------------+-----+----+

In [41]:
df1.show(truncate= False)

df1.printSchema()

+-------+-------+----+------+------+
|name   |country|GPA |edu   |salary|
+-------+-------+----+------+------+
|kalpana|USA    |3.2 |ASU   |100000|
|deepak |USA    |3.8 |ASU   |200000|
|isha   |india  |20.0|school|1000  |
|diya   |india  |3.0 |school|10000 |
|jack   |china  |9.1 |clg   |2900  |
|jame   |nepal  |9.4 |clg   |20000 |
+-------+-------+----+------+------+

root
 |-- name: string (nullable = true)
 |-- country: string (nullable = true)
 |-- GPA: double (nullable = true)
 |-- edu: string (nullable = true)
 |-- salary: long (nullable = true)

In [43]:
selectdf1 = df1.select("name", "GPA", "salary")
selectdf1.printSchema()

selectdf1 = df1.select("name", "GPA").show()

root
 |-- name: string (nullable = true)
 |-- GPA: double (nullable = true)
 |-- salary: long (nullable = true)

+-------+----+
|   name| GPA|
+-------+----+
|kalpana| 3.2|
| deepak| 3.8|
|   isha|20.0|
|   diya| 3.0|
|   jack| 9.1|
|   jame| 9.4|
+-------+----+

AttributeError: ignored

In [ ]:
#Select : Selecting the present column inside of the dataframe for processing
#Return type of Dataframe
smallDf = df.select("Language Name","Days").show()
print(smallDf)

+-------------+----+
|Language Name|Days|
+-------------+----+
|        Spark|  50|
|        Scala| 100|
|          PHP| 120|
+-------------+----+

None

In [23]:
#StructField and StructType : Defining the schema of a particular dataframe : here structype gives the basic 
#structure of the dataframe and structfield would define the fields inside of that structure
import pyspark
from pyspark.sql import SparkSession 
from pyspark.sql.types import StructField, StructType, StringType, IntegerType

In [37]:
spark = SparkSession.builder.master(["local[1]"]).appName("pysaprkl1").getOrCreate()

d = [
    ("James","","Smith","M",30000),
    ("Micheal","","Rose","F",20000),
    ("Maria", "", "Anne", "F",30000),
    ("rosy", "", "gelli", "F", 40000),
    ("jack", "","marey", "M", None)
]
schema = StructType([
    StructField("firstname",StringType(),True),
    StructField("middlename",StringType(),True),
    StructField("lastname",StringType(),True),
    StructField("gender",StringType(),True),
    StructField("salary",IntegerType(),True)    #here true - means nullable  - can be null or not null, #false - nullable - cant be null       
                     
                     
                     
])

df2 = spark.createDataFrame(data = d, schema = schema)
df2.show()

+---------+----------+--------+------+------+
|firstname|middlename|lastname|gender|salary|
+---------+----------+--------+------+------+
|    James|          |   Smith|     M| 30000|
|  Micheal|          |    Rose|     F| 20000|
|    Maria|          |    Anne|     F| 30000|
|     rosy|          |   gelli|     F| 40000|
|     jack|          |   marey|     M|  null|
+---------+----------+--------+------+------+

In [38]:
df2.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
#StructField and StructType : Defining the schema of a particular dataframe : here structype gives the basic 
#structure of the dataframe and structfield would define the fields inside of that structure
import pyspark
from pyspark.sql import SparkSession 
from pyspark.sql.types import StructField, StructType, StringType, IntegerType

spark = SparkSession.builder.master(["local[1]"]).appName("PysparkL1").getOrCreate()

data = [
    ("James","","Smith","M",30000),
    ("Micheal","","Rose","F",20000),
    ("Maria","","Anne","F",30000)
]

schema = StructType([
    StructField("firstname",StringType(),True),
    StructField("middlename",StringType(),True),
    StructField("lastname",StringType(),True),
    StructField("gender",StringType(),True),
    StructField("salary",IntegerType(),True)
])

df = spark.createDataFrame(data = data, schema = schema)
df.show()

+---------+----------+--------+------+------+
|firstname|middlename|lastname|gender|salary|
+---------+----------+--------+------+------+
|    James|          |   Smith|     M| 30000|
|  Micheal|          |    Rose|     F| 20000|
|    Maria|          |    Anne|     F| 30000|
+---------+----------+--------+------+------+

In [ ]:
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
#Nested : Structure of Data inside a Different Structure
nestedStructure = StructType([
    StructField("name",StructType([
        StructField("firstname",StringType(),True),
        StructField("lastname",StringType(),True)
    ])),
    StructField("id",StringType(),True),
    StructField("gender",StringType(),True),
    StructField("salary",IntegerType(),True)
])


nestedData = [
    (("A","Pyspark"),"1","M",180000),
    (("B","Pyspark"),"2","M",120000),
    (("c","Pyspark"),"3","M",130000),
    (("D","Pyspark"),"4","M",150000),
    (("E","Pyspark"),"5","M",170000)
]

df = spark.createDataFrame(data = nestedData, schema = nestedStructure)

In [ ]:
df.printSchema()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
df.show()

+------------+---+------+------+
|        name| id|gender|salary|
+------------+---+------+------+
|{A, Pyspark}|  1|     M|180000|
|{B, Pyspark}|  2|     M|120000|
|{c, Pyspark}|  3|     M|130000|
|{D, Pyspark}|  4|     M|150000|
|{E, Pyspark}|  5|     M|170000|
+------------+---+------+------+

In [59]:
from posix import truncate
from os import name
#Collect : Get the data from the dataframe
dataCollect = df1.collect()
print(dataCollect)


for row in dataCollect:
  print(row)    # how to get individual row?

[Row(name='kalpana', country='USA', GPA=3.2, edu='ASU', salary=100000), Row(name='deepak', country='USA', GPA=3.8, edu='ASU', salary=200000), Row(name='isha', country='india', GPA=20.0, edu='school', salary=1000), Row(name='diya', country='india', GPA=3.0, edu='school', salary=10000), Row(name='jack', country='china', GPA=9.1, edu='clg', salary=2900), Row(name='jame', country='nepal', GPA=9.4, edu='clg', salary=20000)]
Row(name='kalpana', country='USA', GPA=3.2, edu='ASU', salary=100000)
Row(name='deepak', country='USA', GPA=3.8, edu='ASU', salary=200000)
Row(name='isha', country='india', GPA=20.0, edu='school', salary=1000)
Row(name='diya', country='india', GPA=3.0, edu='school', salary=10000)
Row(name='jack', country='china', GPA=9.1, edu='clg', salary=2900)
Row(name='jame', country='nepal', GPA=9.4, edu='clg', salary=20000)

In [ ]:
[
 
 Row(name=Row(firstname='A', lastname='Pyspark'), id='1', gender='M', salary=180000), 
 Row(name=Row(firstname='B', lastname='Pyspark'), id='2', gender='M', salary=120000), 
 Row(name=Row(firstname='c', lastname='Pyspark'), id='3', gender='M', salary=130000), 
 Row(name=Row(firstname='D', lastname='Pyspark'), id='4', gender='M', salary=150000), 
 Row(name=Row(firstname='E', lastname='Pyspark'), id='5', gender='M', salary=170000)

]

In [ ]:
for row in dataCollect:
  #You can access the data of the particular row using index notation 
  #and by directly specifying the column name

  print(row['salary'])

1
2
3
4
5

In [ ]:
#withColumn : If you want to do some column level operations in that case you can use withColumn

In [62]:
#1 : Changing the datatype of a particular column #cast : To change the datatype of a column from let's say Integer to String or from String to Int
df1.printSchema()

df2 = df1.withColumn("Grade",F.col("GPA").cast("String"))

df2.printSchema()

df3 = df2.withColumn("Grade",F.col("GPA").cast("float"))

df3.printSchema()

root
 |-- name: string (nullable = true)
 |-- country: string (nullable = true)
 |-- GPA: double (nullable = true)
 |-- edu: string (nullable = true)
 |-- salary: long (nullable = true)

root
 |-- name: string (nullable = true)
 |-- country: string (nullable = true)
 |-- GPA: double (nullable = true)
 |-- edu: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- Grade: string (nullable = true)

root
 |-- name: string (nullable = true)
 |-- country: string (nullable = true)
 |-- GPA: double (nullable = true)
 |-- edu: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- Grade: float (nullable = true)

In [63]:
df3.show()

+-------+-------+----+------+------+-----+
|   name|country| GPA|   edu|salary|Grade|
+-------+-------+----+------+------+-----+
|kalpana|    USA| 3.2|   ASU|100000|  3.2|
| deepak|    USA| 3.8|   ASU|200000|  3.8|
|   isha|  india|20.0|school|  1000| 20.0|
|   diya|  india| 3.0|school| 10000|  3.0|
|   jack|  china| 9.1|   clg|  2900|  9.1|
|   jame|  nepal| 9.4|   clg| 20000|  9.4|
+-------+-------+----+------+------+-----+

In [71]:
#2. Update the value of existing column
df3.show()

df4 = df3.withColumn("salary_double", F.col("salary") * 20)

#df4 = df3.withColumn("salary_divided", F.col("salary") / 20)

df4.show()

df4.printSchema()

##df = df.withColumn("salary",F.col("salary") * 10)

#df.show()

+-------+-------+----+------+------+-----+
|   name|country| GPA|   edu|salary|Grade|
+-------+-------+----+------+------+-----+
|kalpana|    USA| 3.2|   ASU|100000|  3.2|
| deepak|    USA| 3.8|   ASU|200000|  3.8|
|   isha|  india|20.0|school|  1000| 20.0|
|   diya|  india| 3.0|school| 10000|  3.0|
|   jack|  china| 9.1|   clg|  2900|  9.1|
|   jame|  nepal| 9.4|   clg| 20000|  9.4|
+-------+-------+----+------+------+-----+

+-------+-------+----+------+------+-----+-------------+
|   name|country| GPA|   edu|salary|Grade|salary_double|
+-------+-------+----+------+------+-----+-------------+
|kalpana|    USA| 3.2|   ASU|100000|  3.2|      2000000|
| deepak|    USA| 3.8|   ASU|200000|  3.8|      4000000|
|   isha|  india|20.0|school|  1000| 20.0|        20000|
|   diya|  india| 3.0|school| 10000|  3.0|       200000|
|   jack|  china| 9.1|   clg|  2900|  9.1|        58000|
|   jame|  nepal| 9.4|   clg| 20000|  9.4|       400000|
+-------+-------+----+------+------+-----+-------------+

root
 |-- name: string (nullable = true)
 |-- country: string (nullable = true)
 |-- GPA: double (nullable = true)
 |-- edu: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- Grade: float (nullable = true)
 |-- salary_double: long (nullable = true)

In [ ]:
#3. If you want to create a new column from existing values
df.show()
df.printSchema()

df = df.withColumn("salary_copied",F.col("salary") * -1)

df.show()
df.printSchema()

+------------+---+------+-------+
|        name| id|gender| salary|
+------------+---+------+-------+
|{A, Pyspark}|  1|     M|1800000|
|{B, Pyspark}|  2|     M|1200000|
|{c, Pyspark}|  3|     M|1300000|
|{D, Pyspark}|  4|     M|1500000|
|{E, Pyspark}|  5|     M|1700000|
+------------+---+------+-------+

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+------------+---+------+-------+-------------+
|        name| id|gender| salary|salary_copied|
+------------+---+------+-------+-------------+
|{A, Pyspark}|  1|     M|1800000|     -1800000|
|{B, Pyspark}|  2|     M|1200000|     -1200000|
|{c, Pyspark}|  3|     M|1300000|     -1300000|
|{D, Pyspark}|  4|     M|1500000|     -1500000|
|{E, Pyspark}|  5|     M|1700000|     -1700000|
+------------+---+------+-------+-------------+

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- salary_copied: integer (nullable = true)